:root {
    --primary-color: rgb(5, 5, 72);
    --primary-color-hover: rgb(84, 84, 184);
    --secondary-color: white;

    --horizontal-margin: 10%;

    /* NAVBAR */
    --navbar-padding: 20px 30px;
    --navbar-font-size: 40px;

    /* BUTTONS */
    --button-font-size: 22px;
    --button-padding: 24px 34px;
    --button-border-radius: 18px;
    --button-fill-radius: 16px;

    --button-transition-time: 0.5s;
    --button-fast-transition-time: 0.2s;
}

html {
    font-family: 'Inter';
    text-align: center;
}
body {
    padding-bottom: 100px;
}
button {
    cursor: pointer;
}
.spacer {
    flex-grow: 1;
}
.hidden {
    display: none !important;
}

/* NAVBAR */
.topnav {
    display: flex;
    align-content: stretch;
}
.topnav > a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: var(--navbar-font-size);
    display: block;
    padding: var(--navbar-padding);
}
.topnav > a:hover {
    color: var(--primary-color-hover);
}
.nav-dropdown {
    float: left;
    overflow: hidden;
}
.nav-dropdown > button {
    height: 100%;
    border: none;
    outline: none;
    color: var(--primary-color);
    background-color: inherit;

    font-size: var(--navbar-font-size);;
    padding: var(--navbar-padding);
    margin: 0;
}
#dropdown-container {
    display: block;
    position: absolute;
    right: 30px;
    min-width: 160px;

    background-color: #f9f9f9;
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#dropdown-container a {
    float: none;
    color: var(--primary-color);
    padding: 14px 24px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav a:hover, .nav-dropdown button:hover {
    color: var(--primary-color-hover);
    cursor: pointer;
}
.dropdown-container a:hover {
    background-color: #ddd;
    color: var(--primary-color-hover);
}

.main-title {
    font-size: 54px;
    font-weight: bolder;
    color: var(--primary-color);
    margin: 0;
}
.sub-title {
    font-size: 28px;
    font-weight: lighter;
    margin: 10px auto 50px;
}

#book-cover {
    display: block;
    width: 40%;
    margin: 0 auto;
}

/* Should be used for larger screens */
#interview-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 40px;
    padding: 50px 0 40px;
    margin: 0 var(--horizontal-margin);
}
.interview-row-nav-button button {
    flex-shrink: 1;
    width: 50px;
    height: 50px;

    font-size: large;
    font-weight: bolder;

    color: var(--primary-color);
    background-color: white;
    border: 3px solid var(--primary-color);
    border-radius: 50%;

    transition: color var(--button-fast-transition-time), 
        border-color var(--button-fast-transition-time);
}
.interview-row-nav-button button:hover {
    color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}
.interview-row-nav-button button:active {
    transform: translateY(2px);
}

#interview-row {
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 70%;

    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}
#interview-row::-webkit-scrollbar {
    display: none;  /* Hide the scrollbar on webkit browsers */
}

.interview-bubble {
    flex-shrink: 0;
    width: 140px;
    font-size: 18px;
}
.interview-thumbnail {
    display: block;
    box-sizing: border-box;
    width: 140px;
    background-color: lightblue;

    border: 3px solid var(--secondary-color); 
    border-radius: 50%;
    object-fit: cover;
}

#view-all-interviews-button {
    padding: 20px 50px;
}

#main-description {
    margin: 40px var(--horizontal-margin) 20px;
}

#kwur-embed {
    width: 80%;
    margin: 20px auto 40px;
    height: 180px;
    border-radius: 10px;
}

#more-info-div {
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: stretch;

    margin: 0 10%;
}
#more-info-div button {
    flex: 1 0;
    margin: 10px 20px;
}



/* INTERVIEW PAGE */
#interview-container {
    margin: 40px var(--horizontal-margin);
    
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 40px;
}
.interview-block {
    flex: 1 0 400px;
    padding: 30px;

    border: 2px solid var(--primary-color);
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

    transition: box-shadow var(--button-transition-time),
        transform var(--button-transition-time);
}
.interview-block:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translate(-2px, -2px);
}
.interview-title-div {
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.interview-name {
    text-align: left;
    margin: 0;
}
.interview-date {
    flex-grow: 1;

    text-align: right;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}
.interview-video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 58%;
    margin: 20px 0;
}
.interview-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 10px;
}
.interview-button-container {
    margin: 20px 0 0;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 30px;
}
.interview-button-container button {
    flex: 1 1 0;
    font-size: 18px;
}



/* General button styling */
.filled-button {
    font-size: var(--button-font-size);
    position: relative;
    overflow: hidden;

    color: var(--secondary-color);
    background-color: var(--primary-color);

    padding: var(--button-padding);
    border: 2px solid var(--primary-color);
    border-radius: var(--button-border-radius);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

    transition: color var(--button-transition-time),
        transform var(--button-fast-transition-time),
        box-shadow var(--button-fast-transition-time);
}
.filled-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    border-radius: var(--button-fill-radius);

    background-color: var(--secondary-color);
    transition: all var(--button-transition-time);
    z-index: -1;
    transform: translateX(-100%);
}
.filled-button:hover::before {
    transform: translateX(0%);
}
.filled-button:hover {
    color: var(--primary-color);
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.filled-button:active {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.stroke-button {
    font-size: var(--button-font-size);
    position: relative;
    overflow: hidden;

    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0);

    padding: var(--button-padding);
    border: 2px solid var(--primary-color);
    border-radius: var(--button-border-radius);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    
    transition: color var(--button-transition-time),
        transform var(--button-fast-transition-time),
        box-shadow var(--button-fast-transition-time);
}
.stroke-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    border-radius: var(--button-fill-radius);

    background-color: var(--primary-color);
    transition: all var(--button-transition-time);
    z-index: -1;
    transform: translateX(-100%);
}
.stroke-button:hover::before {
    transform: translateX(0%);
}
.stroke-button:hover {
    color: var(--secondary-color);
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.stroke-button:active {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}