:root {
    --primary-color: rgb(5, 5, 72);
    --primary-color-hover: rgb(84, 84, 184);
    --secondary-color: white;
    --tertiary-color: lightblue;
    --locked-color: lightgrey;

    --horizontal-margin: 8%;

    /* NAVBAR */
    --navbar-padding: 20px 30px;
    --navbar-font-size: 40px;

    /* BUTTONS */
    --button-font-size: 22px;
    --button-padding: 24px 34px;

    --button-transition-time: 0.5s;
    --button-fast-transition-time: 0.2s;

    /* MISC */
    --kwur-embed-height: 200px;
}

html {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('images/bg-texture.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}
h1 {
    font-family: "Special Elite", system-ui;
    font-style: normal;
}
h3 {
    font-family: "Special Elite", system-ui;
    font-style: normal;
}
body {
    padding-bottom: 60px;
}
button {
    cursor: pointer;
}
.spacer {
    flex-grow: 1;
}
.hidden {
    display: none !important;
}



/* SMALLER SCREENS (mobile) */
@media only screen and (min-device-width : 320px) and (max-device-width : 785px) { 
    :root {
        /* NAVBAR */
        --navbar-padding: 0 0;
        --navbar-font-size: 34px;
    
        /* INTERVIEWS */
        --interview-bubble-size: 96px;

        /* BUTTONS */
        --button-font-size: 20px;
        --button-padding: 20px 20px;
        --button-border-radius: 18px;
        --button-fill-radius: 20px;
    
        /* MISC */
        --kwur-embed-height: 400px;
        --horizontal-margin: 5%;
    }


    /* NAVBAR */
    .topnav {
        display: flex;
        align-content: start;
        align-items: center;

        margin: 14px var(--horizontal-margin) 0;
        padding: 0;
    }
    .topnav > a {
        color: var(--primary-color);
        text-decoration: none;
        font-size: var(--navbar-font-size);

        display: block;
        padding: var(--navbar-padding);
    }
    .topnav > a:hover {
        color: var(--primary-color-hover);
    }
    .nav-dropdown > button {
        border: none;
        outline: none;
        color: var(--primary-color);
        background-color: inherit;

        font-size: var(--navbar-font-size);
        padding: var(--navbar-padding);
    }
    .nav-dropdown {
        float: left;
        overflow: hidden;
    }
    #dropdown-container {
        display: block;
        position: absolute;
        right: 36px;
        width: 160px;

        background-color: #e9f0ff;
        box-shadow: 0x 8px 18px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    #dropdown-container a {
        display: block;
        float: none;
        color: var(--primary-color);
        padding: 20px 30px;

        text-decoration: none;
        font-size: 16px;
        text-align: left;
    }


    /* Main Page */
    .main-title {
        font-size: 40px;
        font-weight: bolder;
        color: var(--primary-color);
        margin: 18px 0 4px;
    }
    .sub-title {
        font-size: 24px;
        font-weight: lighter;
        margin: 0 auto;
    }
    #main-div {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        margin: 14px 6% 20px;
        gap: 4%;
    }
    .main-description {
        margin: 18px 0;
        text-align: start;
        text-indent: 40px;
        font-size: 18px;
    }
    .kwur-embed {
        width: 90%;
    }



    /* Interview Row */
    .interview-row-nav-button button {
        display: none;
    }
    #interview-row {
        flex-grow: 1;
        flex-shrink: 0;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    
        width: 80%;
        height: fit-content;
        margin: 0 0 0;
    
        overflow-x: scroll;
        overflow-y:hidden;
        scrollbar-width: none;
    }

    .interview-bubble {
        flex-shrink: 0;
        width: var(--interview-bubble-size);
        height: fit-content;
    
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .interview-bubble:hover .interview-thumbnail {
        box-shadow: 0px 0px 20px rgba(0, 0, 139, 0.1);
    }
    .interview-bubble:hover .interview-card {
        box-shadow: 0px 0px 20px rgba(0, 0, 139, 0.1);
    }
    .interview-thumbnail {
        position: relative;
        grid-column: 1;
        grid-row: 1;
    
        text-align: center;
        width: var(--interview-bubble-size);
        height: var(--interview-bubble-size);
    
        color: var(--primary-color);
        background-color: var(--tertiary-color);
        border: 2px solid var(--tertiary-color); 
        border-radius: 50%;
        transition: box-shadow var(--button-fast-transition-time);
    }
    .interview-card {
        position: relative;
        font-size: 12px;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        height: fit-content;
        margin: -12px 0 0;
        padding: 4px 4px;
        z-index: 2;
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        transition: box-shadow var(--button-fast-transition-time);
    }
    
    #view-all-interviews-button {
        padding: 20px 30px;
        margin: 10px 0 20px;
    
        font-size: 20px;
        font-weight: 500;
    }

    #more-info-div {
        min-height: 140px;
        display: flex;
        justify-content: center;
        align-items: stretch;

        margin: 0 var(--horizontal-margin);
    }
    #more-info-div button {
        flex: 1 0;
        margin: 0px 6px;
    }



    /* INTERVIEW PAGE */
    #interviews-container {
        margin: 20px var(--horizontal-margin);
        gap: 30px;
    }
    .interview-block {
        flex: 1 0 0;
        padding: 14px 18px;
    }
    .pfp-div {
        position: relative;
        height: 86px;
        width: fit-content;
        transition: transform var(--button-fast-transition-time);
    }
    .interview-name {
        text-align: left;
        flex: 1 1 300px;
        margin: 0 0 8px;

        font-size: 22px;
        font-weight: 700;
    }
    .interview-date {
        font-size: 16px;
    }
    .interview-video-container {
        margin: 20px 0;
    }
    .interview-description {
        font-size: 16px;
        padding: 0 0 4px;
    }
    .interview-button-container {
        margin: 0 0 10px;
        gap: 20px;
    }
    .countdown-container {
        margin: 20px 0 30px;
    }
    .interview-button-container button {
        font-size: 18px;
        font-weight: 500;
    }
    
    .countdown-label {
        font-size: 22px;
    }
    .countdown-timer {
        font-size: 40px;
    }


    
    /* ABOUT PAGE */
    #about-container {
        margin: 0 6% 20px;
    }
    #about-container h1 {
        margin-bottom: 20px;
    }
    #about-kwur {
        width: 100%;
        margin: 6px 0;
    }
}



/* MEDIUM SCREENS */
@media only screen and (min-device-width : 786px) and (max-device-width : 1024px) {
    :root {
        /* NAVBAR */
        --navbar-padding: 0;
        --navbar-font-size: 56px;
    
        /* INTERVIEWS */
        --interview-bubble-size: 160px;

        /* BUTTONS */
        --button-font-size: 26px;
        --button-padding: 30px 36px;
        --button-border-radius: 26px;
        --button-fill-radius: 26px;
    
        /* MISC */
        --horizontal-margin: 6%;
    }


    /* NAVBAR */
    .topnav {
        display: flex;
        align-content: start;
        align-items: center;

        margin: 20px 30px 0;
        padding: 0;
    }
    .topnav > a {
        color: var(--primary-color);
        text-decoration: none;
        font-size: var(--navbar-font-size);
        display: block;
        padding: var(--navbar-padding);
        margin: 0;
    }
    .topnav > a:hover {
        color: var(--primary-color-hover);
    }
    .nav-dropdown {
        float: left;
        overflow: hidden;
    }
    .nav-dropdown > button {
        height: 100%;
        border: none;
        outline: none;
        color: var(--primary-color);
        background-color: inherit;

        font-size: var(--navbar-font-size);
        padding: var(--navbar-padding);
        margin: 0;
    }
    #dropdown-container {
        display: block;
        position: absolute;
        right: 40px;
        width: 200px;

        background-color: #e9f0ff;
        box-shadow: 0x 8px 18px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    #dropdown-container a {
        display: block;
        float: none;
        color: var(--primary-color);
        padding: 20px 30px;

        text-decoration: none;
        font-size: 20px;
        text-align: left;
    }

    /* Main Page */
    .main-title {
        font-size: 66px;
        font-weight: bolder;
        color: var(--primary-color);
        margin: 0 0 8px;
    }
    .sub-title {
        font-size: 42px;
        font-weight: lighter;
        margin: 0 auto;
    }
    #main-div {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        margin: 20px 10% 20px;
        gap: 2%;
    }

    #lower-desc {
        margin: 0 var(--horizontal-margin);
    }

    #cover-div {
        margin-top: 30px;
    }
    .main-description {
        margin: 20px 0;
        text-align: start;
        text-indent: 50px;
        font-size: 20px;
    }
    .kwur-embed {
        width: 80%;
        margin: 8px auto 10px;
        border-radius: 10px;
    }

    
    
    /* Interview Row */
    .interview-row-nav-button button {
        display: none;
    }

    #interview-row {
        height: fit-content;
        flex-grow: 1;
        flex-shrink: 0;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    
        width: 100%;
        margin: 0 0 10px;
    
        overflow-x: scroll;
        overflow-y:hidden;
        scrollbar-width: none;
    }
    .interview-bubble {
        flex-shrink: 0;
        width: var(--interview-bubble-size);
        height: fit-content;
    
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .interview-bubble:hover .interview-thumbnail {
        box-shadow: 0px 0px 20px rgba(0, 0, 139, 0.1);
    }
    .interview-bubble:hover .interview-card {
        box-shadow: 0px 0px 20px rgba(0, 0, 139, 0.1);
    }
    .interview-thumbnail {
        position: relative;
        grid-column: 1;
        grid-row: 1;
    
        text-align: center;
        width: var(--interview-bubble-size);
        height: var(--interview-bubble-size);
    
        color: var(--primary-color);
        background-color: var(--tertiary-color);
        border: 2px solid var(--tertiary-color); 
        border-radius: 50%;
        transition: box-shadow var(--button-fast-transition-time);
    }
    .interview-card {
        font-size: 20px;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    
        height: fit-content;
        margin: -14px 0 8px;
        padding: 10px 6px;
        z-index: 2;
    
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        transition: box-shadow var(--button-fast-transition-time);
    }
    
    #view-all-interviews-button {
        padding: 34px 40px;
        margin: 16px 0 20px;
    
        font-size: 32px;
        font-weight: 500;
    }

    #more-info-div {
        min-height: 180px;
        display: flex;
        justify-content: center;
        align-items: stretch;

        margin: 0 10%;
    }
    #more-info-div button {
        flex: 1 0;
        margin: 10px 20px;
    }


    /* INTERVIEW PAGE */
    #interviews-container {
        margin: 40px var(--horizontal-margin);
        gap: 40px;
    }
    .interview-block {
        flex: 1 0 400px;
        padding: 20px 30px;
    }
    .pfp-div {
        position: relative;
        height: 110px;
        width: fit-content;
        transition: transform var(--button-fast-transition-time);
    }
    .interview-name {
        text-align: left;
        flex: 1 1 400px;
        margin: 0 0 8px;

        font-size: 40px;
        font-weight: 700;
    }
    .interview-date {
        font-size: 22px;
    }
    .interview-video-container {
        margin: 20px 0;
    }
    .interview-description {
        font-size: 22px;
        padding: 4px 0 10px;
    }
    .interview-button-container {
        margin: 10px 0 18px;
        gap: 40px;
    }
    .countdown-container {
        margin: 20px 0 50px;
    }
    .interview-button-container button {
        font-size: 28px;
        font-weight: 500;
    }
    
    .countdown-label {
        font-size: 28px;
    }
    .countdown-timer {
        font-size: 60px;
    }


    /* ABOUT PAGE */
    #about-container {
        margin: 0 8%;
    }
    #about-container h1 {
        margin-bottom: 20px;
    }
    #about-kwur {
        width: 100%;
        margin-bottom: 10px;
    }
}



/* LARGE SCREENS (desktop) */
@media only screen and (min-device-width : 1025px) {
    :root {
        /* NAVBAR */
        --navbar-padding: 4px;
        --navbar-font-size: 50px;
    
        /* INTERVIEWS */
        --interview-bubble-size: 140px;

        /* BUTTONS */
        --button-font-size: 22px;
        --button-padding: 10px 20px;
        --button-border-radius: 16px;
        --button-fill-radius: 16px;
    
        /* MISC */
        --horizontal-margin: 7%;
    }


    /* NAVBAR */
    .topnav {
        display: flex;
        align-content: start;
        align-items: center;

        margin: 2% 3% 0px;
        padding: 0;
    }
    .topnav > a {
        color: var(--primary-color);
        text-decoration: none;
        font-size: var(--navbar-font-size);
        display: block;
        padding: var(--navbar-padding);
        margin: 0;
    }
    .topnav > a:hover {
        color: var(--primary-color-hover);
    }
    .nav-dropdown {
        float: left;
        overflow: hidden;
    }
    .nav-dropdown > button {
        height: 100%;
        border: none;
        outline: none;
        color: var(--primary-color);
        background-color: inherit;

        font-size: var(--navbar-font-size);
        padding: var(--navbar-padding);
        margin: 0;
    }
    #dropdown-container {
        display: block;
        position: absolute;
        right: 30px;
        width: 220px;

        background-color: #e9f0ff;
        box-shadow: 0x 8px 18px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    #dropdown-container a {
        float: none;
        color: var(--primary-color);
        padding: 26px 30px;

        text-decoration: none;
        font-size: 18px;
        display: block;
        text-align: left;
    }

    /* Main Page */
    .main-title {
        font-size: 76px;
        font-weight: bolder;
        color: var(--primary-color);
        margin: 0;
    }
    .sub-title {
        font-size: 50px;
        font-weight: lighter;
        margin: 4px auto 0;
        color: black;
    }
    #main-div {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        margin: 20px 14% 10px;
        gap: 2%;
    }
    #cover-div {
        margin-top: 20px;
    }
    .main-description {
        margin: 16px 0;
        text-align: start;
        text-indent: 30px;
        font-size: 16px;
    }
    .kwur-embed {
        width: 80%;
        margin: 20px 0 0;
        border-radius: 10px;
    }


    /* Interview Row */
    #interview-row {
        flex-grow: 1;
        flex-shrink: 0;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    
        width: 80%;
        height: fit-content;
        margin: 20px 0 0;
    
        overflow-x: scroll;
        overflow-y:hidden;
        scrollbar-width: none;
    }

    .interview-bubble {
        flex-shrink: 0;
        width: var(--interview-bubble-size);
        height: fit-content;
    
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .interview-bubble:hover .interview-thumbnail {
        box-shadow: 0px 0px 20px rgba(0, 0, 139, 0.1);
    }
    .interview-bubble:hover .interview-card {
        box-shadow: 0px 0px 20px rgba(0, 0, 139, 0.1);
    }
    .interview-thumbnail {
        position: relative;
        grid-column: 1;
        grid-row: 1;
    
        text-align: center;
        width: var(--interview-bubble-size);
        height: var(--interview-bubble-size);
    
        color: var(--primary-color);
        font-size: 70px;
        background-color: var(--tertiary-color);
        border: 2px solid var(--tertiary-color); 
        border-radius: 50%;
        transition: box-shadow var(--button-fast-transition-time);
    }
    .interview-card {
        position: relative;
        font-size: 17px;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    
        height: fit-content;
        margin: -14px 0 8px;
        padding: 10px 6px;
        z-index: 2;
    
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        transition: box-shadow var(--button-fast-transition-time);
    }
    
    #view-all-interviews-button {
        padding: 30px 50px;
        margin: 20px 0 20px;
    
        font-size: 26px;
        font-weight: 500;
    }

    #more-info-div {
        min-height: 180px;
        display: flex;
        justify-content: center;
        align-items: stretch;

        margin: 0 16%;
    }
    #more-info-div button {
        flex: 1 0;
        padding: 0 30px;
        margin: 20px 16px;
    }



    /* INTERVIEW PAGE */
    #interviews-container {
        margin: 40px var(--horizontal-margin);
        gap: 30px;
    }
    .interview-block {
        flex: 1 0 400px;
        padding: 20px 28px;
    }
    .pfp-div {
        position: relative;
        height: 100px;
        width: fit-content;
        transition: transform var(--button-fast-transition-time);
    }
    .interview-name {
        text-align: left;
        flex: 1 1 300px;
        margin: 0 0 8px;

        font-size: 26px;
        font-weight: 700;
    }
    .interview-date {
        font-size: 18px;
    }
    .interview-video-container {
        margin: 20px 0;
    }
    .interview-description {
        font-size: 16px;
        padding: 0 0 4px;
    }
    .interview-button-container {
        margin: 20px 4%;
        gap: 20px;
    }
    .countdown-container {
        margin: 20px 0 40px;
    }
    .interview-button-container button {
        font-size: 20px;
        font-weight: 500;
        padding: 16px 10px;
    }
    
    .countdown-label {
        font-size: 24px;
    }
    .countdown-timer {
        font-size: 40px;
    }

    /* ABOUT PAGE */
    #about-container {
        margin: 0 12%;
    }
    #about-container h1 {
        margin-bottom: 20px;
    }
    #about-kwur {
        width: 80%;
        margin-bottom: 20px;
    }
}
@media only screen and (min-device-width : 1025px) and (max-width: 950px) {
    .interview-row-nav-button {
        display: none;
    }
}



/* Universal styling (all screens) */
#dropdown-container {
    font-family: "Special Elite", system-ui;
    font-style: normal;
}
.topnav a:hover, .nav-dropdown button:hover {
    color: var(--primary-color-hover);
    cursor: pointer;
}
#dropdown-container a:hover {
    background-color: #ecf6ff;
    color: var(--primary-color-hover);
}

#main-div div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.left-column {
    flex: 1;
    min-width: 0;
}
.left-column img {
    flex-grow: 1;
    width: 120%;
    object-fit: scale-down;
    border-radius: 20px;

    transition: transform var(--button-transition-time);
}
.left-column img:hover {
    transform: rotate(-5deg);
}
.right-column {
    flex: 1;
    min-width: 0;
}
#book-cover {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: block;
    border-radius: 20px;

    transition: transform var(--button-transition-time);
}
#book-cover:hover {
    transform: rotate(3deg);
}

#interview-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 40px 0 20px;
    margin: 0 var(--horizontal-margin);
}
#interview-row::-webkit-scrollbar {
    display: none;  /* Hide the scrollbar on webkit browsers */
}
.interview-thumbnail {
    object-fit: cover;
}

.interview-row-nav-button button {
    flex-shrink: 1;
    width: 50px;
    height: 50px;

    font-size: large;
    font-weight: bolder;

    color: var(--primary-color);
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 50%;

    transition: color var(--button-fast-transition-time), 
        border-color var(--button-fast-transition-time);
}
.left {
    margin-right: 20px;
}
.right {
    margin-left: 20px;
}
.interview-row-nav-button button:hover {
    color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}
.interview-row-nav-button button:active {
    transform: translateY(2px);
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 10;

    transition: visibility 0s 0.3s;
}
.overlay-container {
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: fit-content;
    max-height: 96%;
    max-width: 96%;

    background-color: white;
    border-radius: 20px;
}
.popup-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    margin: 0 auto 4px;

    object-fit: contain;
    overflow: hidden;
    transition: transform var(--button-transition-time);
}
.popup-img:hover {
    transform: rotate(-1deg);
}
.overlay-container button {
    padding: 14px 24px;
    margin: 0 auto 10px;
}
.close-btn {
    padding: 0 14px;
    margin: -8px -12px auto auto;

    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}
.close-btn:hover {
    background-color: var(--secondary-color);
}



/* INTERVIEW PAGE */
#interviews-loading-error {
    margin-top: 20px;
}

#interviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.interview-block {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    background-color: white;

    transition: box-shadow var(--button-transition-time),
        transform var(--button-transition-time);
}
.interview-block:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translate(-2px, -2px);
}
.interview-title-div {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
    height: fit-content;
}
.pfp-div:hover .interview-block-thumbnail {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.pfp-div:hover i {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
.interview-block-thumbnail {
    position: relative;
    border-radius: 50%;
    height: inherit;
    aspect-ratio: 1;
    object-fit: cover;
    transition: box-shadow var(--button-fast-transition-time);
}
.pfp-div i {
    position: absolute;
    bottom: 0;
    right: -14px;
    padding: 10px;
    border-radius: 50%;
    z-index: 2;
 
    background-color: var(--tertiary-color);
    transition: box-shadow var(--button-fast-transition-time);
}

.interview-header {
    margin: auto auto auto 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    text-align: right;
}
.interview-date {
    text-align: left;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}
.interview-video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 58%;
}
.interview-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 10px;
}
.interview-button-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}
.interview-button-container button {
    flex: 1 1 0;
}

.countdown-label {
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    padding-bottom: 12px;
}
.countdown-timer {
    font-weight: bolder;
    margin: 0;
}



/* General button styling */
.filled-button {
    font-size: var(--button-font-size);
    position: relative;
    overflow: hidden;

    color: var(--secondary-color);
    background-color: var(--primary-color);

    padding: var(--button-padding);
    border: 2px solid var(--primary-color);
    border-radius: var(--button-border-radius);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

    transition: color var(--button-transition-time),
        transform var(--button-fast-transition-time),
        box-shadow var(--button-fast-transition-time);
}
.filled-button:hover {
    /* color: var(--primary-color); */
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.filled-button:active {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.stroke-button {
    font-size: var(--button-font-size);
    position: relative;
    overflow: hidden;

    color: var(--primary-color);
    background-color: rgb(255, 255, 255);

    padding: var(--button-padding);
    border: 2px solid var(--primary-color);
    border-radius: var(--button-border-radius);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    
    transition: color var(--button-transition-time),
        transform var(--button-fast-transition-time),
        box-shadow var(--button-fast-transition-time);
}
.stroke-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    border-radius: var(--button-fill-radius);

    background-color: var(--primary-color);
    transition: all var(--button-transition-time);
    z-index: -1;
    transform: translateX(-100%);
}
.stroke-button:hover::before {
    transform: translateX(0%);
}
.stroke-button:hover {
    color: var(--secondary-color);
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.stroke-button:active {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}



/* LOADER */
.lds-dual-ring {
    margin-top: 50px;
    color: var(--primary-color-hover);
}
.lds-dual-ring, .lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;

  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;

  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}